<% include header %>
  <div class="container">
    <h1 class="text-center">Danh sách parttern regular expression</h1>
    <br>
    <div class="table-responsive">
      <table class="table" id="tablePatterns">
        <thead>
          <tr>
            <th>
              <h3>Pattern Name</h3>
            </th>
            <th>
              <h3>Pattern Regex</h3>
            </th>
            <th>
              <h3>Site Name</h3>
            </th>
            <th>
              <h3>Status</h3>
            </th>
            <th>
              <h3>Action</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <% for ( var i = 0; i < arrayPattern.length; i++ ){ %>
            <tr>
              <td>
                <strong>
                  <%= arrayPattern[i].pattern_name %>
                </strong>
              </td>
              <td>
                <textarea class="form-control" style="background: rgb(236, 240, 199);" cols="50" rows="5"> <%= arrayPattern[i].pattern_regex %></textarea>
              </td>
              <td>
                <strong>
                  <%= arrayPattern[i].site_name %>
                </strong>
              </td>
              <td>
                "Success"
              </td>
              <td>
                <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                
              </td>
            </tr>
            <%}%>
        </tbody>
      </table>
    </div>
  </div>
  <% include footer %>